html {
background-color:  #C4E7F0;
}
h4 {
  color: #006666;
  text-align: center;
  font-family: 'Shadows Into Light', cursive, sans-serif;
  font-size: 37px;
  text-shadow: 3px 2px #9BA7D6;
}
h3 {
  color: #455EBF;
  text-align: center;
  font-family: "Comic Sans MS", cursive
  , sans-serif;
  font-size: 22.5px;
}
h2 {
  color: #A8183F;
  text-align: center;
  text-shadow: 2px 2px #9BA7D6;
  font-family: 'Questrial' , cursive sans-serif;
  font-size: 22px;
}
p {
  color: #330080;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  text-indent: 50px;
}
footer {
  text-align: right;
  color: #330080;
}
header {
  text-align: left;
  color: #330080;
  font-size: 11px;
}
.opening {
  color: #000066;
  text-align: center;
  font-family: "Comic Sans MS", fantasy, sans-serif;
  font-size: 18px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.copy {
  color: #8533ff;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}
#header {
  background-color: #455EBF;
  color: #C4E7F0;
  padding: 17px;
  text-align: center;
}
#foot {
  background-color: #455EBF;
  color: #C4E7F0;
  padding: 15px;
  text-align: right;
}
